#game
  canvas#background
  canvas#foreground
  canvas#screen(width=600, height=400)
  .bird(data-type='Invitation')
#menu
  #menu-party
    h1 Party
    ol
    #menu-party-invite
      select#menu-party-invite-name
        option(value, disabled) Choose a Player...
      a#menu-party-invite-send.button Send Invite
    div
      a#menu-party-invite-button.button Invite Player
#log
script(src='/js/jquery.js')
script(src='/socket.io/socket.io.js')
script(src='/js/ext/chosen.jquery.min.js')
script(src='/js/world.js')
script(src='/js/engine.js')
script(src='/js/draw.js')
script(src='/js/menu.js')
script(src='/js/player.js')
script(src='/js/pathfinder.js')
script(src='/js/main.js')