<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MMORPGKTHX</title>
	<meta name="description" content="This is the MMORPGKTHX that Ross built.">
	<meta name="author" content="Ross Hadden">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="2zvM0MQYwi9b4V2sMpBHkQHPt20qZAsARcxAv57fZTw">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/ext/chosen.css" rel="stylesheet">
	<script src="js/modernizr.js"></script>
</head>

<body>
	<div id="main">
		<div id="game">
			<canvas id="background" width="600" height="400"></canvas>
			<canvas id="grid" width="600" height="400"></canvas>
			<canvas id="ground" width="600" height="400"></canvas>
			<canvas id="players" width="600" height="400"></canvas>
			<canvas id="foreground" width="600" height="400"></canvas>
			<div class="bird" data-type="Invitation"></div>
		</div>
        <div id="menu">
			<div id="menu-party">
				<h1>Party</h1>
				<ol></ol>
				<div id="menu-party-invite">
					<select id="menu-party-invite-name">
						<option value disabled>Choose a Player...</option>
					</select>
					<a id="menu-party-invite-send" class="button">Send Invite</a>
				</div>
				<div>
					<a id="menu-party-invite-button" class="button">Invite Player</a>
				</div>
			</div>
		</div>
	</div>
	<div id="log"></div>
	
	<script src="js/jquery1.7.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/ext/chosen.jquery.min.js"></script>
	<script src="js/world.js"></script>
	<script src="js/draw.js"></script>
	<script src="js/menu.js"></script>
	<script src="js/player.js"></script>
	<script src="js/pathfinder.js"></script>
	<script src="js/main.js"></script>
</body>
</html>